*{
    margin: 0;
    padding: 0;
    box-sizing: border;
    overflow: hidden;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("/img/ChatGPT\ Image\ 1\ de\ out.\ de\ 2026\,\ 14_58_24.png") center / cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.container {
  position: fixed;
  top: 0;
  right: 1px;
  height: 100vh;
  width: 500px;
  border-radius: 20px;
  padding: 30px 40px;
  box-shadow: -30px -20px 40px rgba(105, 95, 124, 0.45);


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container h1{

    font-family: Georgia, serif;
    font-size: 42px;
    color: #fff;
    text-align: center;
    margin-bottom: 25px;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
    letter-spacing: 2px;
}
.input {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #e8e8e8;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 200ms ease-in-out;
  position: relative;
  width: 300px;
  bottom: 10%;
  margin: 10px;
}
.input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
  -10px 100px #ffffff;
}
.input i{
position: relative;
height: 10px;
}
button {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  position: relative;
  left: 25%;
}
button:active {
  color: #ece8e8;
  box-shadow:  #D6D6E7 0 3px 7px inset;
}
.container p {
  position: relative;
  left: 20px;
  bottom: -5px;
  color:white
}
.social {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}
.social img {
    width: 40px;
    height: 40px;
}
.container_2 {
  position: fixed;
  bottom: 40px;
  left: 40px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 20px 28px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);
}

.container_2 h2 {
  font-size: 16px;
  font-weight: normal;
  color: #fff;
}

.container_2 a {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 26px;
  color: #fff;
  text-decoration: none;
}


